<header>
  <app-menu-bar></app-menu-bar>  
</header>

<app-menu-tittle></app-menu-tittle>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card cardTitleBigCard="Angular" cardDescriptionBigCard="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, ex commodi quas, odio ab dolorem, placeat aliquid iusto quia cumque error soluta nam. Numquam, blanditiis harum in rerum officiis incidunt." photoCoverBigCard="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDmBtu81Ta2QbCC9PHzVPuAFfG4N6nE8GFZ5VXqOyIQA&s"></app-big-card>
  </div>


  <div class="articles__others">
    <app-small-card photoCoverSmallCard="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdzgeQ5WYCgnfJn1dk3jJVSZv3bCT5T_TsjaBMfYx7mg&s" cardTitleSmallCard="Novo lugar"></app-small-card>
    <app-small-card photoCoverSmallCard="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdzgeQ5WYCgnfJn1dk3jJVSZv3bCT5T_TsjaBMfYx7mg&s" cardTitleSmallCard="Novo lugar"></app-small-card>
    <app-small-card photoCoverSmallCard="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdzgeQ5WYCgnfJn1dk3jJVSZv3bCT5T_TsjaBMfYx7mg&s" cardTitleSmallCard="Novo lugar"></app-small-card>
  </div>
</div>

